html {
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(129, 131, 152);
}
body {
    background-image: url("images/pattern-background-desktop.svg");
    background-size: 100% 37%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    max-width: 23.43rem;
    height: auto;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1.5rem;
}

.top {
    max-width: 23.43rem;
    height: auto;
    text-align: center;
    flex-grow: 1;
}

.top img {
    max-width: 23.43rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.top h1 {
    font-size: 1.5rem;
    padding: 2.2rem 0 1.5rem 0;
    font-weight: 900;
    color: black;
}

.top p {
    margin: 0 auto;
    
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.middle {

    max-width: 23.43rem;
    padding: 2.25rem 0 .25rem 0;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-grow: 1;
    
}
.middle img {
    margin-left:40px ;
}

.middle span {
    font-weight: 700;
    font-size: 1rem;
    color: black;
    
}

.middle p {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
}

.middle a {
    color: rgb(54, 38, 186);
    text-decoration: underline;
    font-weight: 700;
    font-size: 0.9rem;
    flex-grow: 3;
}

.middle a:hover,
.middle a:focus {
    text-decoration: none;
}

.bottom {
    max-width: 23.43rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0px 13px 28px rgb(0 0 0 / 10%);
}

.bottom button {
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    background-color:hsl(244, 87%, 50%);
    color: white;
    box-shadow: 0px 24px 28px rgb(0 0 0 / 17%);
}



.bottom button:hover,
.bottom button:focus {
    background-color: hsl(245, 94%, 66%);
}

.bottom p {
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.bottom a:hover,
.bottom a:focus {
    color: black;
} 
footer {
    margin-top: 1rem;
}

@media (max-width:500px){
    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 110% 35%;
    }
    main {
        font-size: 1rem;
        width: 22.43rem;
    }
    .top img {
        width: 22.43rem;
    }
    .top h1{
        font-size: 1.25em;
    }

    .top p {
        margin: 0 auto;
        padding: 0 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }
    .bottom button{
        width: 85%;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }