html {
    background-color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(129, 131, 152);
}
body {
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 23.43rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.top {
    width: 23.43rem;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 1.5rem 1.5rem 0 0;
}

.top img {
    width: 23.43rem;
    height: 10rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.top h1 {
    font-size: 1.5rem;
    padding: 2.2rem 0 1.5rem 0;
    font-weight: 900;
    color: black;
}

.top p {
    width: 17rem;
    margin: 0 auto;
    line-height: 1.5rem;
}

.middle {
    width: 23.43rem;
    height: 7rem;
    padding: 2rem 0 2rem 0;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
}

.middle img {
}

.middle span {
    font-weight: 900;
    font-size: 0.9rem;
    color: black;
}

.middle p {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.middle a {
    color: rgb(54, 38, 186);
    text-decoration: underline;
    font-weight: 700;
    font-size: 0.9rem;
}

.middle a:hover,
.middle a:focus {
    text-decoration: none;
}

.bottom {
    width: 23.43rem;
    background-color: white;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0px 13px 28px rgb(0 0 0 / 10%)
}

.bottom button {
    width: 20rem;
    padding: 1rem;
    border-radius: 0.8rem;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    background-color:hsl(244, 87%, 50%);
    color: white;
}



button:hover,
button:focus {
    background-color: hsl(245, 94%, 66%);
}

.bottom p {
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.bottom a:hover
.bottom a:focus {
    color: black;
} 

footer {
    margin-top: 1rem;
}

@media (min-width:500px){
    
    body {
        background-image: url("images/pattern-background-desktop.svg");
        background-size: 100% 46%;
        background-position: inherit;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
